
# PAYSTACK_SECRET_KEY: Secret key for Paystack API (Server-side only)
PAYSTACK_SECRET_KEY="sk_test_..."

# NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY: Public key for Paystack (Client-side)
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY="pk_test_..."

# QR_SECRET: Secret key for signing QR code payloads
QR_SECRET="cug-id-signing-secret"
